/*!

 =========================================================
 * JCodigo Mieko template 
 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

[Table of contents]

* Background
* Typography
* Layouts
   + Body & Wrapper
   + Main Header
   + Sidebar
* Layouts Color
* Components
   + Breadcrumbs
   + Cards
     - Card Stats
     - Card Task
     - Card States
     - Card Posts
     - Card Pricing
     - Card Annoucement
     - Card Profile
     - Accordion
   + Inputs
   + Tables
   + Navbars
   + Navsearch
   + Badges
   + Dropdowns
   + Charts
   + Alerts
   + Buttons
   + Navtabs
   + Popovers
   + Progress
   + Paginations
   + Sliders
   + Modals
   + Timeline
   + Maps
   + Invoice
   + Messages
   + Tasks
   + Settings
* Plugins
   + jQueryUI
   + jQuery Scrollbar
   + Css Animate
   + Full Calendar
   + SweetAlert
   + Datatables

* Responsive

# [Color codes]

body-text-color: #575962
white-color: #ffffff
black-color: #191919
transparent-bg : transparent
default-color : #282a3c
primary-color : #177dff
secondary-color : #716aca
info-color : #36a3f7
success-color : #35cd3a
warning-color : #ffa534
danger-color : #f3545d

-------------------------------------------------------------------*/
*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*   Typography    */
@font-face {
  font-family: "quicksand";
  src: url("../../assets/fonts/Quicksand-VariableFont_wght.ttf");
}
* {
  font-family: "quicksand";
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 14px;
  color: #575962;
}

a {
  color: #03B8A4;
  text-decoration: none;
}
a:hover, a:focus {
  color: #1269DB;
}

h1,
.h1 {
  font-size: 1.725rem;
}

h2,
.h2 {
  font-size: 1.35rem;
}

h3,
.h3 {
  font-size: 1.1625rem;
}

h4,
.h4 {
  font-size: 1.0375rem;
}

h5,
.h5 {
  font-size: 0.9125rem;
}

h6,
.h6 {
  font-size: 0.825rem;
}

p {
  font-size: 14px;
  line-height: 1.82;
  margin-bottom: 1rem;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.4;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  color: inherit;
}

small, .small {
  font-size: 13px;
}

b, .b, strong, .strong {
  font-weight: 600;
}

.page-pretitle {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #95aac9;
}

.page-title {
  font-size: 23px;
  font-weight: 600;
  color: #444444;
  line-height: 30px;
  margin-bottom: 20px;
}

.page-category {
  color: #444444;
  line-height: 1.8;
  margin-bottom: 25px;
}

.text-primary, .text-primary a {
  color: #03B8A4 !important;
}
.text-primary:hover, .text-primary a:hover {
  color: #03B8A4 !important;
}

.text-secondary, .text-secondary a {
  color: #FCCC16 !important;
}
.text-secondary:hover, .text-secondary a:hover {
  color: #FCCC16 !important;
}

.text-info, .text-info a {
  color: #48ABF7 !important;
}
.text-info:hover, .text-info a:hover {
  color: #48ABF7 !important;
}

.text-success, .text-success a {
  color: #31CE36 !important;
}
.text-success:hover, .text-success a:hover {
  color: #31CE36 !important;
}

.text-warning, .text-warning a {
  color: #FFAD46 !important;
}
.text-warning:hover, .text-warning a:hover {
  color: #FFAD46 !important;
}

.text-danger, .text-danger a {
  color: #F25961 !important;
}
.text-danger:hover, .text-danger a:hover {
  color: #F25961 !important;
}

label {
  color: #495057 !important;
  font-size: 14px !important;
}

.text-small {
  font-size: 11px;
}

.metric-value {
  margin-bottom: 5px;
  line-height: 1;
  white-space: nowrap;
}

.metric-label {
  font-size: 0.975rem;
  font-weight: 500;
  color: #686f76;
  white-space: nowrap;
  margin-bottom: 0;
}

/*   Font-weight    */
.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-mediumbold {
  font-weight: 400 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.fw-extrabold {
  font-weight: 700 !important;
}

.title-beetween-line {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #03B8A4;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.title-beetween-line span {
  background: #f9fbfd;
  padding: 0 10px;
}

@media screen and (max-width: 430px) {
  .title-beetween-line {
    font-size: 14px;
  }
}
/* 		Opacity  	*/
.op-9 {
  opacity: 0.9;
}

.op-8 {
  opacity: 0.8;
}

.op-7 {
  opacity: 0.7;
}

.op-6 {
  opacity: 0.6;
}

.op-5 {
  opacity: 0.5;
}

.op-4 {
  opacity: 0.4;
}

.op-3 {
  opacity: 0.3;
}

.header-main {
  top: 0px;
  position: fixed;
  width: 100%;
  box-shadow: -1px 4px 7px 0px #79787842;
  z-index: 10;
  background: #ffffff;
  height: 60px;
}

.logo-header-img {
  width: 130px;
}

.category_desktop_header ul li {
  font-size: 18px;
  margin-left: 14px;
  display: inline-block;
}
.category_desktop_header ul li a {
  color: #03B8A4;
  font-weight: 600;
}
.category_desktop_header ul li a:hover {
  color: #FCCC16;
}

.jc_category_list {
  background: #ffffff;
}

.side-menu {
  transition: 1s;
  height: 100%;
  margin-top: -2px;
  box-shadow: -1px 4px 7px 0px #79787842;
  margin-left: -80%;
  width: 80%;
  background: #ffffff;
}
.side-menu ul {
  padding-left: 0;
}
.side-menu ul .jc_category_item {
  list-style-type: none;
  border-top: 1px solid #cac1c1;
  padding-bottom: 10px;
  padding-top: 10px;
}
.side-menu ul .jc_category_item a {
  padding-left: 25px;
  color: #03B8A4;
  font-weight: 600;
  font-size: 18px;
}
.side-menu ul .jc_category_item a:hover {
  color: #FCCC16;
}

.side-menu.active {
  margin-left: 0;
  transition: 1s;
}

.icons-header {
  padding-top: 0.6rem;
}

.footer-main {
  background: #03B8A4;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}
.footer-main .title-copyright {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.content-footer {
  padding: 0 40px;
}

.logo_footer {
  width: 250px;
}

.footer-link {
  color: #ffffff;
  font-size: 17px;
}
.footer-link:hover {
  color: #FCCC16;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  background: #f9fbfd;
}

p {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-main {
  margin-top: 60px;
}

.container-jc {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 840px) {
  .category-banner {
    margin-top: 5px;
  }
}
@media screen and (min-width: 430px) {
  .container-center {
    max-width: 800px;
  }
}
@media (min-width: 430px) {
  .hidden-desktop {
    display: none !important;
  }
}
@media (max-width: 430px) {
  .hidden-mobile {
    display: none !important;
  }
}
.banner-home .mobile {
  display: none;
}
.banner-home .desktop {
  display: block;
}

@media screen and (max-width: 430px) {
  .banner-home .mobile {
    display: block;
  }
  .banner-home .desktop {
    display: none;
  }
}
.card-product {
  margin: 0 0.5em;
  margin-bottom: 10px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  overflow: hidden;
}
.card-product .card-title-product {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  font-family: "quicksand";
}
.card-product .content-image-card {
  height: 300px;
  position: relative;
}
.card-product .content-image-card .img-product {
  max-width: 300px;
  max-height: 300px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-product .card-price-sale {
  font-weight: bold;
  font-size: 25px;
  font-family: "quicksand";
  text-align: center;
}
.card-product .card-list-sale {
  text-align: center;
  font-size: 15px;
  text-decoration: line-through;
}
.card-product .btn-card-product {
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: white;
  border: none;
  background-color: #03B8A4;
  font-weight: bold;
}

.card-product:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

@media screen and (max-width: 430px) {
  .content-image-card {
    height: 210px !important;
  }
  .content-image-card .img-product {
    max-width: 210px !important;
    max-height: 210px !important;
  }
}
@media screen and (max-width: 840px) {
  .content-image-card {
    height: 260px !important;
  }
  .content-image-card .img-product {
    max-width: 260px !important;
    max-height: 260px !important;
  }
}
.title-detail-product {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.sku-detail-product {
  font-style: oblique;
}

.img-main-detail-product {
  width: 100%;
}

.list-small-img {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.img-small-content {
  cursor: pointer;
}

.img-small {
  width: 60px;
  height: 100%;
}

.price-sale {
  font-size: 1.7rem;
}

.price-list {
  font-size: 1rem;
}

.btn-add-product {
  margin-top: 10px;
  background: #03B8A4;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.input-product-quantity {
  width: 50%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.content-quantity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.icon-information-ecommerce {
  margin-right: 10px;
}

@media screen and (max-width: 430px) {
  .title-detail-product {
    text-align: center;
  }

  .sku-detail-product {
    text-align: center;
  }

  .price-sale {
    margin-top: 20px;
    text-align: center;
  }

  .price-list {
    text-align: center;
    font-style: oblique;
  }
}

/*# sourceMappingURL=theme.css.map */
