html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    position: relative;
    background: $grey2-color;
}

p{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-main{
    margin-top: $height-header;
}


@media screen and (max-width: $max-tablet) {
    .category-banner{
        margin-top: 5px;
    }
}

@media screen and (min-width: $max-mobile) {
    .container-center{
        max-width: 800px;
    }
}